FARG_WEBSERVER/WebContent/wsdl/ManutencaoAquario.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="AtualizaAquario">
    <complexType>
     <sequence>
      <element name="dataMedicao" type="xsd:string"/>
      <element name="horaMedicao" type="xsd:string"/>
      <element name="luzLigada" type="xsd:int"/>
      <element name="nivelRepo" type="xsd:int"/>
      <element name="nivelSump" type="xsd:int"/>
      <element name="tempAgua" type="xsd:float"/>
      <element name="tempAmb" type="xsd:float"/>
      <element name="tempTampa" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="AtualizaAquarioResponse">
    <complexType>
     <sequence>
      <element name="AtualizaAquarioReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listaCompleta">
    <complexType/>
   </element>
   <element name="listaCompletaResponse">
    <complexType>
     <sequence>
      <element name="listaCompletaReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="AtualizaAquarioResponse">

      <wsdl:part element="impl:AtualizaAquarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listaCompletaRequest">

      <wsdl:part element="impl:listaCompleta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listaCompletaResponse">

      <wsdl:part element="impl:listaCompletaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AtualizaAquarioRequest">

      <wsdl:part element="impl:AtualizaAquario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ManutencaoAquario">

      <wsdl:operation name="AtualizaAquario">

         <wsdl:input message="impl:AtualizaAquarioRequest" name="AtualizaAquarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:AtualizaAquarioResponse" name="AtualizaAquarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listaCompleta">

         <wsdl:input message="impl:listaCompletaRequest" name="listaCompletaRequest">

       </wsdl:input>

         <wsdl:output message="impl:listaCompletaResponse" name="listaCompletaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ManutencaoAquarioSoapBinding" type="impl:ManutencaoAquario">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="AtualizaAquario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="AtualizaAquarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="AtualizaAquarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listaCompleta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listaCompletaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listaCompletaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ManutencaoAquarioService">

      <wsdl:port binding="impl:ManutencaoAquarioSoapBinding" name="ManutencaoAquario">

         <wsdlsoap:address location="http://localhost:8080/FARG_WEBSERVER/services/ManutencaoAquario"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
